<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDYWLN App</title>
    <link href="css/wdywln.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/jquery.modal.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/todos.js"></script>
    
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      console.clear();
      window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({
            appId      : '807285922636423', // Facebook App ID
            cookie     : true, // enable cookies to allow Parse to access the session
            xfbml      : true  // parse XFBML
        });
         
          // Additional initialization code here
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- WDYWLN App Interface -->
    <div class="login-info"></div>
    <div id="wdywln-app">

      <div class="title" id="title">
        <h1>Whatchu Whatchu</h1>
      </div>

      <div class="add-movie-container modal">
         
      </div>

      <div class="content">
      </div>

     
    </div>


    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
       <div class="facebook-login">
          <a href="#" class="facebook-login-button">Login with Facebook</a>
        </div>
    </script>

    <script type="text/template" id="main-movies-template">
      

      <div class="section">

        <header id="header">
          
        </header>
        <div id="friends-movies-list-container">

          <h2>Your Friends Movies</h2>
          <ul id="friends-movies-list">
              
          </ul>
        </div> 
        <div id="your-movies-list-container">
          <h2>Your Movies</h2>
          <ul id="your-movies-list">
            . . . 
          </ul>
        </div> 
      </div>
      
    </script>

    <script type="text/template" id="add-movie-template">
      <h2>What did you watch last night?</h2>
      <div class="question-part-1 " >
        <input id="new-movie" placeholder="movie, tv show, etc. " type="text" />
        <ul id="autocomplete-list">

        </ul>
      </div>
      <div id="question-part-2" style="display: none;">
        <div>Did you like it?</div>
        <a href="javascript:void(0)" id="liked-it" class="like-answer">Yes</a>
        <a href="javascript:void(0)" id="did-not-like-it" class="like-answer">No</a>
      </div>
      
    </script>

     <script type="text/template" id="signed-in-template">
      <div id="user-info">
        Howdy <%= Parse.User.current().escape("firstName") %> (<a href="#" class="log-out">Log out</a>)
      </div>

    </script>    

    
    <script type="text/template" id="item-template">
      	<div class="view movie-item" >
          <div class="poster-container">
            <img src="<% if(posterUrl) { %> <%= _.escape(posterUrl) %> <% } %>" />
          </div>
          <div class="title-content"><%= _.escape(title) %></div>
      	  <div class="liked-by" style="display:none;"><%= _.escape(likedBy) %></div>
          <div class="more-info">
            Liked by.


            <% _.each(likedBy, function(someThing) { %>
              <%= _.escape(someThing) %>
            <% }) %>
          </div>
      	</div>
    </script>

   
    
    <script type="text/template" id="friend-template">
      <li class="">
        A friend
        
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
      </footer>
    </script>

  </body>

</html>
