* {
    /*font-family: Arial, sans;*/
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}
html,body {
    margin: 0;
    padding: 0;
    color: #E7E7E7;
}
.metadata, .more-info, .modal, .login-info {
    color: #666;
}
body {
    padding: 0;
    background: rgb(76, 76, 76);
}

ul { 
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #FF6602;
}
.btn {
    padding: 5px 10px;
    background: #ff6602;
    color: #fff;
}
#wdywln-app {
    padding: 20px 50px;
}

.movie-item {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
    margin-bottom: 10px;
    position: relative;
}
.poster-container {
    height: 240px;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.poster-container img {
    border: 1px solid #eee;
    width: 160px;
    height: 240px;
    box-sizing: border-box;
}

.movie-title {
    font-size: 12px;
    border-bottom: 1px dotted #999;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.login-info { 
    padding: 10px;
    background: #eee;
    border-radius: 0 0 5px 5px;
    float: right;
    font-size: 12px;
    margin-right: 20px;
}
.modal.current {
    top: 50px !important;
    margin-top: 0 !important;
}
.modal h2 {
    margin-top: 0;
}
.subtext {
    font-size: 11px;
    margin-top: 5px;
}


input#new-movie {
    width: 100%;
    font-size: 21px;
    padding: 5px 10px;
    box-sizing: border-box;
}
#autocomplete-list {
    list-style: none;
    margin-top: 10px;
}
#autocomplete-list li {
    border: 1px solid #eee;
    margin-top: 2px;
    padding: 5px 10px;
}
#autocomplete-list li:hover {
    border-color: #FF6602;
    cursor: pointer;
}
.metadata { 
    font-size: 11px;
}
.metadata .year, .metadata .type  {
    display: inline-block;
    margin-right: 5px;
} 
.liked-by {
    font-size: 9px;
}
.more-info {
    display: none;
    position: absolute;
    left: 170px;
    top: 0;
    width: 160px;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #eee;
    background: #fff;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    font-size: 11px;
}
.more-info ul {
    list-style: none;
}   
.more-info li.liked-by-name {
    margin: 2px 0 0 0;
}
.movie-item:hover .more-info {
    display: block;
}
.movie-item:hover .watch {
    display: block;
}
.watch {
    display: none;
    bottom: 0px;
    position: absolute;
    border: 1px solid #FFf;
    width: 160px;
    text-align: center;
    box-sizing: border-box;
}

